<footer>
<!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "5ca7a270161449de9e7312aaf67c8925"}'></script><!-- End Cloudflare Web Analytics -->
  <small>
    Me elsewhere <a href="https://twitter.com/bybosslee">Twitter</a>. This site is build with <a href="{{ pkg.repository.url }}">11ty</a>.
  </small>
</footer>
