<footer>
  <small>
    My personal writing is at <a href="https://bosslee.co">This is Bosslee</a>.
    This site runs on the boilerplate <a href="{{ pkg.repository.url }}">GitHub repo</a>. 
    <a href="/feed.xml">RSS</a>
  </small>
</footer>
